<div class="right-container">

    <div class="nav-bar-platform-products" style="margin:0 10px;">
        <ul class="nav-bar-ul" *ngFor="let product of products">
            <li class="nav-bar-li" style="font-size:14px;"> <a href=" #">{{product}}</a> </li>
        </ul>
        <form action="">
            <input class="nav-bar-search" type="input" placeholder="Search">
        </form>
    </div>


    <div class="nav-bar-user-container">
        <select name="" id="user-select-option">
            <option value="Aridon">{{ user }}</option>
        </select>
    </div>

</div>