<div class="trends-container">
    <div class="trends-header"
        style="padding-left:2px; display: flex; justify-content: space-between; margin-right:20px;">
        <div>
            <h3>Trends</h3>
        </div>
        <div> Floor Planes </div>
    </div>
    <div class="trend-points">
        <div> NER </div>
        <div> NER/SQFT </div>
        <div> CONCESSIONS </div>
        <div> OCCUPANCY </div>
        <div> LEASED </div>
        <div> TRAFFIC/WEEK </div>
        <div> LEASES/WEEK </div>
        <div> CLOSING RATIO </div>
    </div>
    <div> <img src="{{graphImageUrl}}.png" style="width:100%; padding:10px;" alt="Graph"> </div>
</div>