* {
	margin: 0;
	padding: 0;
}

.container {
	width: 98.5%;
	padding: 10px;
	border: 0.1px solid rgb(241, 239, 239);
	box-shadow: 1px 1px 1px 1px rgb(223, 220, 220);
	margin: 10px;
}

.inner-container {
	padding: 10px 10px 10px 0;
	margin-right:10px;
}

.snapshot-header {
	display: flex;
	gap: 10px;
	padding: 20px;
	align-items: center;
}

.snapshot-btns {
	display: flex;
	justify-content: space-between;
	gap: 0;
}
#comps,
#market {
	font-size: 12px;
}

#comps-btn,
#market-btn {
	width: 60px;
	background-color: white;
	border: 0.3px solid rgb(206, 202, 202);
	font-size: 13px;
	padding: 2px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
#comps-btn {
	background-color: rgb(236, 243, 251);
	color: rgb(0, 132, 255);
	font-weight: bolder;
}
th {
	border: 0.3px solid rgb(212, 211, 211);
	border-collapse: collapse;
	padding: 10px 5px;
	color: grey;
}
table,
td {
	border: 0.3px solid rgb(212, 211, 211);
	border-collapse: collapse;
	padding: 10px;
	color: rgb(71, 71, 71);
}

td {
	text-align: center;
}
td:first-child {
	text-align: left;
}

.table-header > div {
	padding: 3px 5px;
}
.table-header-property {
	font-size: 13px;
	font-weight: normal;
	text-align: left;
	color: rgb(0, 132, 255);
	font-weight: bold;
}

.table-header-region {
	font-weight: lighter;
	font-size: 9px;
	text-align: left;
	color: grey;
	font-weight: bold;
	padding-bottom: 5px;
}

.property-header {
	padding: 20px 20px 20px 30px;
	display: flex;
	align-items: center;
	gap: 10px;
}
#original-experience {
	color: rgb(0, 132, 255);
}

.property-image {
	width: 100%;
}
.table-header-image {
	width: 130px;
	margin: 0 auto;
}
