<div class="container">

    <div class="portfolio-title">
        <div class="portfolio-title-text"> Portfolio </div>
        <div class="portfolio-title-side-text">
            Return
            to original experience
        </div>
    </div>

    <div class="portfolio-containter-title">


        <div class="date-range-filter-container">
            <div class="date-range-el">Date Range</div>

            <div class="flex-center date-range-el">
                <div>
                    <select name="date" id="date" class="portfolio-date-filter">
                        <option value="30">Last 30 Days</option>
                        <option value="90">Last 90 Days </option>
                        <option value="365">Last Year</option>
                    </select>
                </div>
                <div style="margin-left:5px; display: flex;">
                    <div class="date-range-el"> Filter </div>
                    <div class="date-range-el"> Upload </div>
                </div>
            </div>


        </div>

    </div>



</div>