<div class="side-bar-title-container">
    <div class="inner-side-bar-title-container">

        <div class="side-bar-title-btns">
            <div>
                <button class="side-bar-title-btn" id="live-btn">LIVE</button>
            </div>
            <div>
                <button class='side-bar-title-btn'>CUSTOM</button>
            </div>
        </div>
        <div>
            <h3 style="padding-left:10px;color:white;font-size:14px; margin-bottom:20px;"> PORTFOLIO </h3>
        </div>

        <hr style="border: 0.5px solid rgb(23, 100, 176);">
        <div>
            <form action="">
                <input type="text" placeholder="Search" class="side-bar-search-input">
            </form>
        </div>



        <app-sidebar-properties>

        </app-sidebar-properties>


    </div>
</div>