.side-bar-title-container {
  width: 250px;
  background-color: #172b4d;
  height: 100vh;
}
.inner-side-bar-title-container {
  font-weight: bold;
  background-color: #172b4d;
  height: 100vh;
}
.side-bar-title-btns {
  padding: 30px 20px 10px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0;
}
.side-bar-title-header {
  color: white;
  font-size: 10px;
  padding: 10px 0 10px 5px;
  margin: 20px 0;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
}
.side-bar-search-input {
  padding: 5px;
  margin: 20px 10px;
  background-color: #1e3b65;
  width: 200px;
  border-radius: 1px;
  border: none;
  font-size: 16px;
  letter-spacing: 1px;
}

.side-bar-search-input:focus {
  outline: none;
}

.side-bar-search-input::placeholder {
  font-weight: bold;
  font-size: 14px;
  padding: 0 0 2px 10px;
  color: white;
}
.side-bar-title-btn {
  background-color: #13496c;
  border: 1px solid rgb(8, 82, 122);
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 12px;
  width: 100px;
  color: white;
}
#live-btn {
  background-color: rgb(0, 132, 255);
}
