.tooltip-img-s {
	width: 120px;
}
.hidden {
	visibility: hidden;
}
.tooltip-container {
	position: absolute;
	background-color: white;
	color: black;
	width: 530px;
	height: 320px;
	left: 250px;
	top: 300px;
	border-radius: 2px;
	box-shadow: 2px 2px 2px rgb(185, 185, 185);
	margin-bottom: 500px;
}
.tooltip-title {
	display: flex;
	justify-content: space-between;
	padding: 15px 10px;
}

.first-row-tooltip-container {
	display: flex;
	padding: 10px;
}
.tooltip-image {
	width: 180px;
	height: 100px;
}
.second-row-tooltip-container {
	display: flex;
	justify-content: center;
	padding: 5px 20px;
}
.second-row-tooltip-container > div {
	margin: 10px;
}
.second-row-tooltip-container > div > b,
h4 {
	padding: 10px 5px;
}
