<div class="tooltip-container">
    <div class="tooltip-title">
        <div class="tooltip-title-header"> {{ tooltip.name}} </div>
        <div class="period-property-updated"> {{ tooltip.days }} </div>
    </div>
    <hr>
    <div>
        <div class="first-row-tooltip-container">
            <div class="tooltip-image"> <img
                    src="../../../../assets/images/property-images/property{{ tooltip.id }}.jpg" alt="sedona apartments"
                    class="tooltip-img-s"> </div>
            <div class="tooltip-description">
                <div> Location:{{ tooltip.location }}</div>
                <div> Phone: {{ tooltip.phone }} </div>
                <div> Email: {{ tooltip.email }}</div>
                <div> Units: {{ tooltip.units }} </div>
            </div>
        </div>
        <div class="second-row-tooltip-container">
            <div>
                <h4> NER </h4> <b>$794</b>
            </div>
            <div>
                <h4> NER/sqft </h4> <b>$794</b>
            </div>
            <div>
                <h4> Concess. </h4> <b>$794</b>
            </div>
            <div>
                <h4> Occ. </h4> <b>$794</b>
            </div>
            <div>
                <h4> Traffic/Wk </h4> <b>$794</b>
            </div>
            <div>
                <h4> Leases/Wk </h4> <b>$794</b>
            </div>
        </div>
    </div>

</div>